/* navigation */
.nav{
	display:  inline-block;
	

}
.nav-list{
	display: inline-block;
}
.nav-list-class{
	font-family: 'Raleway Semibold';
	color: #303134;
	font-size: 15.74;
	text-transform: uppercase;
}
.logo{
	margin-top: 25px;
	margin-left: 95px;
	margin-right:  89.9px;
}
.home{
	margin-right: 53px;
}
.about{
	margin-right: 50px;
}
.our-service{
	margin-right: 49px;
}
.header{
	margin-top: 25px;
}
.container1{
	margin-top: 25px;
		
}
/* banner */
.banner-main-text{
	font-family: 'Raleway Semibold';
	font-size: 78.74px;
	color: #FFFFFF;
	position: absolute;
	left: 50%;
	top:  50%;
	transform: translate(-50%, -50%);
}
.banner-text{
	
	position: relative;
}
.banner{
	width: 100%;
}
.banner-small-text{
	font-family: 'Raleway Semibold';
	position: absolute;
	font-size: 18px;
	color: white;
	left: 40%;
	top: 65%;
}
/* section 2 */
.wrapper{
	width: 1171.57px;
	height: 680.13px;
	margin: 0 auto;
	margin-top: 75.8px;
}
.main-block{
	width: 871px;
	display: inline-block;
	vertical-align: top;
}
/* }top-block 1 */

.con2-block1{
	width: 241.47px;
	height: 240.56px;
	display: inline-block;
	vertical-align: top;
	margin-right: 59.1px;
}
.con2-block1-h3{
	font-family: 'Raleway Semibold';
	font-size: 16px;
	color: #8D8D8D;
}
.con2-block1-h2{
	font-family: 'Raleway Semibold';
	font-size: 26px;
	color: #1A1A1B;
	margin-top: 6.2px;
	margin-bottom: 40.1px;
}
.con2-block1-p{
	color:#8D8D8D;
	font-family: 'Raleway medium';
	font-size: 16px;
	
	
}
.top-block-1-p{
	color:#8D8D8D;
	font-family: 'Raleway medium';
	font-size: 16px;
	margin-top: 52.2px;
}
.top-block-1{
	width: 269.07px;
	height: 327.42px;
	display: inline-block;
	vertical-align: top;
}

/* top-block2 */
.top-block-2{
	width: 241.47px;
	height: 240.56px;
	display: inline-block;
	vertical-align: top;
	margin-left: 31.9px;
	margin-right: 30.9px;
	
}
.top-block-2-h2{
	font-family: 'Raleway Semibold';
	font-size: 18px;
	color: #1A1A1B;
	margin-top: 22.4px;
	margin-bottom: 8.8px;
}
.top-block-2-p{
	color:#8D8D8D;
	font-family: 'Raleway medium';
	font-size: 16px;
}
/* top-block 3 */
.top-block-3{
	width:270.06px;
	height: 327.42px;
	display: inline-block;
	vertical-align: top;
}
.top-block-3-h2{
	font-family: 'Raleway Semibold';
	font-size: 18px;
	color: #1A1A1B;
	margin-top: 22.4px;
	margin-bottom: 8.8px;
}
.top-block-3-p{
	color:#8D8D8D;
	font-family: 'Raleway medium';
	font-size: 16px;
	
}
/* .top-block-3{
	margin-left: 30.9px;
} */